APP_NAME="CNLTHD API"
DATABASE_URL=sqlite:///./app.db
SECRET_KEY="create key by running openssl rand -hex 32"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REDIS_URL=redis://localhost:6379/0
# PostgreSQL local: postgresql+psycopg://postgres:postgres@localhost:5432/app
